@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Inconsolata:wght@200&family=Irish+Grover&family=Montserrat:wght@100&family=PT+Serif&family=Poppins:wght@100&family=Space+Mono&display=swap');
body,html {
    background: url(images/header2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 95%;
    width: 100%;
    font-family: 'Adamina', serif;
}

h1 {
    font-size: 4rem;
    color: #F05F44;
    text-transform: uppercase;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px; 
    text-align: center;
    border-radius: 3rem;
   
}

hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1;  
}


.btn {
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
    background-color: #F05F44;
    border-color: #F05F44;
}

.btn:hover {
    background-color: #e44f35;
    border-color: #e44f35; 
}

.btn-xl {
    padding: 1rem 2rem;
}


